@font-face {
  font-family: 'Theinhardt';
  src: url('../assets/fonts/Theinhardt-Bold.woff2') format('woff2'),
    url('../assets/fonts/Theinhardt-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Theinhardt';
  src: url('../assets/fonts/Theinhardt-Regular.woff2') format('woff2'),
    url('../assets/fonts/Theinhardt-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Theinhardt';
  src: url('../assets/fonts/Theinhardt-Medium.woff2') format('woff2'),
    url('../assets/fonts/Theinhardt-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
